body {
  font-family: system-ui;
  background: #FFF5F0;
}

#title {
  background-color: white;
  padding: 0px;
  color:black;
  text-align:center;
}

figure {
	display: flex;
	flex-direction: column;
	align-items: center;
}

figcaption {
	
	order: 1;     /* default value for all flex items is 1 */
	
	display: flex;
        flex-direction: row;
        justify-content: space-around;
	
        background: black;
        color: white;
        padding: 5px 0px 5px 0px;

}

.textbox {
  background-color: white;
  padding: 20px 80px 0px 80px;
  margin: auto;
	width: 60%;
  text-align:left;
}

.orderedlist {
  margin: auto;
  background-color: #FFF2E9;
  width: 100%;
  text-align:center;
  font-size:12px;
}

ul {
    width: 65%;
    margin: auto;
}